{% extends 'blog/base.html' %}
{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="panel-body">
                    <form action="" class="form_horizontal" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in form %}
                            <label class="control-label col-sm-2">{{ field.label_tag }}</label>
                            <div class="col-sm-2"> {{ field }} </div>
                            {% endfor %}

                            <button class="btn btn-success" type="submit">Submit</button>
                    </form>
            </div>
        </div>
    </div>
{% endblock%}